
<div id="userMap">
<div class="content"><a href="command_workflow_01.html"><div class="box box1">User Request</div></a></div>
<div class="arrow">→</div>
<div class="content"><a href="command_workflow_02.html"><div class="box box2">Plugin Router</div></a></div>
<div class="arrow">→</div>
<div class="content"><a href="command_workflow_03.html"><div class="box box3">Plugin Function</div></a></div>
<div class="arrow">→</div>
<div class="content"><a href="command_workflow_04.html"><div class="box box4">Plugin Response</div></a></div>
<div class="clearfix"></div>
</div>
